{{> login_header }}

<div class="main-content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-10 col-sm-offset-1">
            <div class="login-container">
                <div class="space-12 hidden-480"></div>
                    <div class="login-logo">
                        <img src="/images/mantis_logo.png">
                    </div>
                 <div class="space-24 hidden-480"></div>

                {{#if error.length}}
                    <div class="alert alert-danger">
                        {{#each error}}
                            <p>
                                {{{msg}}}
                            </p>
                        {{/each}}
                    </div>
                {{/if}}

                <div class="position-relative">
                    <div class="signup-box visible widget-box no-border" id="login-box">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header lighter bigger">
                                <i class="ace-icon fa fa-sign-in"></i>
                                {{i18n "s_login_title" }}				</h4>
                            <div class="space-10"></div>

                                <form id="login-form" method="post" action="login_password_page.html">
                <fieldset>

                    <input type="hidden" name="return" value="index.php">
                    <label for="username" class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input id="username" name="username" type="text" placeholder="{{i18n "s_username"}}" size="32" maxlength="191" value="" class="form-control autofocus">
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                    </label>

                    <div class="space-10"></div>

                    <input type="submit" class="width-40 pull-right btn btn-success btn-inverse bigger-110" value="{{i18n "s_login_button"}}">
                </fieldset>
            </form>

        <div class="space-10"></div>
       
       {{#if warning.length}}
        <div class="alert alert-warning">
             {{#each warning}}
            <p>
                {{{msg}}}
            </p>
          
           <!-- <p>
                {{{i18n "s_warning_default_administrator_account_present"}}}
            </p> --> 
            {{/each}}
        </div>
        {{/if}}
    </div>

        <div class="toolbar center"><a class="back-to-login-link pull-left" href="signup_page.html">{{i18n "s_signup_link"}}</a><div class="clearfix"></div></div>
                </div>
        </div>
        </div>
        </div>
        </div>

        </div>
    </div>
</div>


{{> login_footer }}